*{
    margin: 0;
    padding: 0;
    /* border:  1px solid green; */
}
.App{
    /* margin: 15%; */
    position: relative;
    top: 15%;
    left:15%;
    width: 50%;
    margin: 40px;
    /* width: 80%; */

    /* background: #706e6e; */
}
.content{
    border: 2px solid black;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    /* background: #000; */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,19.0%);
    grid-template-rows: repeat(6, 16.0%);
    height: 80vw;
    width: 100vh;
    gap: 9px;
    grid-template-areas:
        'b b a a a'
        'b b c c c'
        'b b d d d'
        'b b d d d'
        'b b e e e'
        'b b f f f';
}
.content div{
    background-color: antiquewhite;
    /* background: #000; */
    /* height: 30vh; */
}
.header{
       grid-area: a;                      
    }
.sidebar{
    grid-area: b;
background-color: aqua;
}
.objective{
    grid-area: c;
}
.academic{
    grid-area: d;
}
.certificates{
    grid-area: e;
}
.projects{
    grid-area: f;
}